<div class="gdProInfo"> Samsung Galaxy Star 2 (White) </div>
<div class="logoExplore">
  <div class="gdProPrice">Rs. 4633</div>
  <a rel="nofollow" target='_blank' href="#">
    <div class="clientLogo">
      <img src="https://cdn.digit.in/bundles/thinkdigitfrontend/images/merchant_Infibeam.gif?v=75" alt="Buy from Infibeam" title="Buy from Infibeam"
        data-lname="Product_lb_leaderboard" data-mname="Infibeam" data-pname="Samsung Galaxy Star 2 (White)" class="gaTrackImage"
      />
    </div>
  </a>
  <a rel="nofollow" target='_blank' href="#" onclick="ga( 'send', 'event', 'Product_lb_leaderboard','Infibeam', 'Samsung Galaxy Star 2 (White)', 1 );"
    class="explore " alt="Buy now" title="Buy now">Buy Now</a>
</div>
<a rel="nofollow" class="merchLink" href=“#” target='_blank'>
  <div class="gdProThumb ">
    <img src="https://images-eu.ssl-images-amazon.com/images/I/41CwjsWVtZL._SL75_.jpg" alt="10.or E (Beyond Black, 3 GB)" title="10.or E (Beyond Black, 3 GB)"
    />
  </div>​
</a>