<div class="logoExplore">
  <a rel="nofollow" target='_blank' href="#">
    <div class="clientLogo">
      <img src="https://cdn.digit.in/bundles/thinkdigitfrontend/images/merchant_Infibeam.gif?v=75" alt="Buy from Infibeam" title="Buy from Infibeam"
        data-lname="Product_lb_leaderboard" data-mname="Infibeam" data-pname="#" class="gaTrackImage"
      />
    </div>
  </a>
  <a rel="nofollow" target='_blank' href="#" onclick="ga( 'send', 'event', 'Product_lb_leaderboard','Infibeam', '#', 1 );"
    class="explore " alt="Buy now" title="Buy now">Buy Now</a>
</div>
