<section class="header-pane">
  <div class="row">
      <div class="col-md-2">
          <img src="/assets/logo.png" alt="" height="74px" [routerLink]="['/']">
      </div>
      <div class="col-md-6" style="padding:20px;">
        <app-search-bar (onSearchQuery)="searchQuery($event)"></app-search-bar>
      </div>
  </div>
</section>
<div class="row" style="padding:50px;">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <h4>{{detailInfo.title}}</h4>
        <strong *ngIf="indexName=='products'">Price {{detailInfo.price | currency:'INR':true}}</strong>
        <div style="margin-top:10px">
          <p>Description</p>
          <p>{{detailInfo.description}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <img [src]="detailInfo.thumbnail" alt="" width="250px">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <strong>Related Products</strong>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let rp of relatedProductList">
        <div>{{rp.title}}</div>
        <img [src]="rp.thumbnail" alt="" width="80px">
        <p>{{rp.description | slice:0:50}}..</p>
      </li>
    </ul>

    <strong>Related Content</strong>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let rp of relatedContentList">
        <p style="word-wrap: break-word">{{rp.title | slice:0:100}}..</p>
      </li>
    </ul>
  </div>
</div>