<section class="header-pane">
  <div class="row">
      <div class="col-md-2">
          <img src="/assets/logo.png" alt="" height="74px" [routerLink]="['/']">
      </div>
      <div class="col-md-6" style="padding:20px;">
        <app-search-bar (onSearchQuery)="searchQuery($event)"></app-search-bar>
      </div>
  </div>
</section>
<div class="row" style="padding:50px;">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <h4>{{detailInfo.title}}</h4>
        <strong *ngIf="indexName=='products'">Price {{detailInfo.price | currency:'INR':true}}</strong>
        <div style="margin-top:10px">
          <p>Description</p>
          <p>{{detailInfo.description}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <img [src]="detailInfo.thumbnail" alt="" width="250px">
      </div>
    </div>
    <div class="row" *ngIf="videosList.length>0" style="margin-bottom: 20px">
      <div class="col-md-12">
        <strong>Videos</strong>
        <hr>
        
            <div class="card-deck">
              <div class="card" *ngFor="let item of videosList">
                  <img class="card-img-top" [src]="item.thumbnail" [alt]="item.title">
                  <div class="card-body">
                    <a href="" (click)="searchOther($event, 'videos', item.docId)" class="card-text">
                        {{item.title | slice:0:100}}
                    </a>
                  </div>
              </div>
              </div>
      </div>
    </div>

    <div class="row " *ngIf="newsList.length>0" style="margin-bottom: 20px">
        <div class="col-md-12">
          <strong>News</strong>
          <hr>
              <div class="card-deck" >
                <div class="card" *ngFor="let item of newsList">
                    <img class="card-img-top" [src]="item.thumbnail" [alt]="item.title">
                    <div class="card-body">
                      <a href="" (click)="searchOther($event, 'news', item.docId)" class="card-text">
                        {{item.title | slice:0:100}}
                    </a>
                    </div>
                </div>
                </div>
          
        </div>
      </div>

      <div class="row" *ngIf="slideShowsList.length>0" style="margin-bottom: 20px">
          <div class="col-md-12">
            <strong>Slide Shows</strong>
            <hr>
                <div class="card-deck" >
                  <div class="card" *ngFor="let item of slideShowsList">
                      <div class="card-body">
                        <a href="" (click)="searchOther($event, 'slideshows', item.docId)" class="card-text">
                          {{item.title | slice:0:100}}
                      </a>
                      </div>
                  </div>
                  </div>
          </div>
        </div>
        <div class="row" *ngIf="reviewsList.length>0" style="margin-bottom: 20px">
            <div class="col-md-12">
              <strong>Reviews</strong>
              <hr>
              <div class="card-deck">
                <div class="card" *ngFor="let item of reviewsList">
                  <img class="card-img-top" [src]="item.thumbnail" [alt]="item.title">
                  <div class="card-body">
                    <a href="" (click)="searchOther($event, 'reviews', item.docId)" class="card-text">
                      {{item.title | slice:0:100}}
                  </a>
                  </div>
              </div>
              </div>
            </div>
          </div>
  
  </div>
  <div class="col-md-3">
      <strong>Similar Products</strong>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let rp of similarProducts">
          <div>
             {{rp.title}}</div>
          <img [src]="rp.thumbnail" alt="" width="80px">
          <p>{{rp.description | slice:0:50}}..</p>
        </li>
      </ul>
  </div>
</div>