<section class="header-pane">
  <div class="row">
      <div class="col-md-2">
          <img src="/assets/logo.png" alt="" height="74px" [routerLink]="['/']">
      </div>
      <div class="col-md-6" style="padding:20px;">
        <app-search-bar (onSearchQuery)="searchQuery($event)"></app-search-bar>
      </div>
  </div>
</section>
<div class="row" style="padding:50px;">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <h4>{{detailInfo.title}}</h4>
        <strong *ngIf="indexName=='products'">Price {{detailInfo.price | currency:'INR':true}}</strong>
        <div style="margin-top:10px">
          <p>Description</p>
          <p>{{detailInfo.description}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <img [src]="detailInfo.thumbnail" alt="" width="250px">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h5>Videos</h5>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3" *ngFor="let item of videosList">
            <div class="thumbnail">
              <img [src]="item.thumbnail" [alt]="item.title" width="193px">
              <div class="caption">
                <div>{{item.title}}</div>
                <p>{{item.description | slice:0:100}}</p>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h5>News</h5>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3" *ngFor="let item of newsList">
            <div class="thumbnail">
              <img [src]="item.thumbnail" [alt]="item.title" width="193px">
              <div class="caption">
                <div>{{item.title}}</div>
                <p style="word-wrap: break-word;">{{item.description | slice:0:100}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h5>Slides Shows</h5>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3" *ngFor="let item of slideShowsList">
            <div class="thumbnail">
              <div class="caption">
                <div>{{item.title}}</div>
                <p style="word-wrap: break-word;">{{item.description | slice:0:100}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h5>Reviews</h5>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3" *ngFor="let item of reviewsList">
            <div class="thumbnail">
              <img [src]="item.thumbnail" [alt]="item.title" width="193px">
              <div class="caption">
                <div>{{item.title}}</div>
                <p style="word-wrap: break-word;">{{item.description | slice:0:100}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <strong>Similar Products</strong>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let rp of similarProducts">
          <div>{{rp.title}}</div>
          <img [src]="rp.thumbnail" alt="" width="80px">
          <p>{{rp.description | slice:0:50}}..</p>
        </li>
      </ul>
  </div>
</div>